body {
}

main {
    width: 75%;
    height: 100%
}

rect:hover {
    cursor: pointer;
}

#toggle-button {
    position: absolute;;
    right: .75rem;
    top: .75rem;
    z-index: 2;
    width: 56px;
    height: 40px;
    cursor: pointer;
}

#side-menu {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 350px;
}

#side-menu > .card .card-body{
    height: 100%;
    min-height: 100%;
}

#side-menu .card > .card-header > h2 {
    padding-right: 56px;
}

.filter:hover{
    cursor: pointer;
    box-shadow: 0 0  1em rgba(0, 0, 0, 0.2);
}
.node text {
    font: 10px sans-serif;
}

.node--internal circle {
    fill: #555;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.node text:hover {
    cursor: default;
    font-size: large;
}
.selected {
    font-size: xx-large;
    font-weight: bold;
}
.subject:hover {
    cursor: pointer;
    font-size: large;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
