body {
}

main {
    width: 100%;
    height: 100%
}

nav {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    border: 1px solid black;
}
#legend {
    background-color: white;
}

.filter:hover{
    cursor: pointer;
    box-shadow: 0 0  1em rgba(0, 0, 0, 0.2);
}
.node text {
    font: 10px sans-serif;
}

.node--internal circle {
    fill: #555;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
